## Data Exploration and Preprocessing

In [1]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import VarianceThreshold
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline
from sklearn.model_selection import StratifiedKFold, cross_val_score

import joblib

RANDOM_STATE = 42

In [2]:
# Load the dataset
df = pd.read_csv('train_data.csv')
df.head()

,Index,Bankrupt?,ROA(C) before interest and depreciation before interest,ROA(A) before interest and % after tax,ROA(B) before interest and depreciation after tax,Operating Gross Margin,Realized Sales Gross Margin,Operating Profit Rate,Pre-tax net Interest Rate,After-tax net Interest Rate,...,Net Income to Total Assets,Total assets to GNP price,No-credit Interval,Gross Profit to Sales,Net Income to Stockholder's Equity,Liability to Equity,Degree of Financial Leverage (DFL),Interest Coverage Ratio (Interest expense to EBIT),Net Income Flag,Equity to Liability
0,0,0,0.450397,0.504034,0.506986,0.594640,0.594640,0.998906,0.797293,0.809239,...,0.780554,0.004919,0.623634,0.594641,0.838869,0.279036,0.026788,0.565144,1,0.032464
1,1,0,0.530005,0.572885,0.574763,0.605695,0.605558,0.999058,0.797512,0.809399,...,0.819963,0.005968,0.624171,0.605690,0.841869,0.279040,0.026801,0.565205,1,0.032442
2,2,0,0.571150,0.620148,0.624177,0.612275,0.612282,0.999163,0.797654,0.809533,...,0.839128,0.006022,0.625306,0.612271,0.843294,0.278927,0.026816,0.565276,1,0.033034
3,3,0,0.483401,0.556694,0.536164,0.602445,0.602445,0.999035,0.797458,0.809380,...,0.806477,0.002177,0.621610,0.602444,0.841891,0.293391,0.027063,0.566190,1,0.015406
4,4,0,0.510359,0.537287,0.552546,0.600023,0.600023,0.999009,0.797406,0.809313,...,0.799277,0.001124,0.623993,0.600019,0.840313,0.279878,0.026880,0.565549,1,0.028858

In [3]:
# Display basic info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5807 entries, 0 to 5806
Data columns (total 97 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   Index                                                     5807 non-null   int64
 1   Bankrupt?                                                 5807 non-null   int64
 2    ROA(C) before interest and depreciation before interest  5807 non-null   float64
 3    ROA(A) before interest and % after tax                   5807 non-null   float64
 4    ROA(B) before interest and depreciation after tax        5807 non-null   float64
 5    Operating Gross Margin                                   5807 non-null   float64
 6    Realized Sales Gross Margin                              5807 non-null   float64
 7    Operating Profit Rate                                    5807 non-null   float64
 8    Pre-tax net Interest Rate                                5807 non-null   float64
 9    After-tax net Interest Rate                              5807 non-null   float64
 10   Non-industry income and expenditure/revenue              5807 non-null   float64
 11   Continuous interest rate (after tax)                     5807 non-null   float64
 12   Operating Expense Rate                                   5807 non-null   float64
 13   Research and development expense rate                    5807 non-null   float64
 14   Cash flow rate                                           5807 non-null   float64
 15   Interest-bearing debt interest rate                      5807 non-null   float64
 16   Tax rate (A)                                             5807 non-null   float64
 17   Net Value Per Share (B)                                  5807 non-null   float64
 18   Net Value Per Share (A)                                  5807 non-null   float64
 19   Net Value Per Share (C)                                  5807 non-null   float64
 20   Persistent EPS in the Last Four Seasons                  5807 non-null   float64
 21   Cash Flow Per Share                                      5807 non-null   float64
 22   Revenue Per Share (Yuan ¥)                               5807 non-null   float64
 23   Operating Profit Per Share (Yuan ¥)                      5807 non-null   float64
 24   Per Share Net profit before tax (Yuan ¥)                 5807 non-null   float64
 25   Realized Sales Gross Profit Growth Rate                  5807 non-null   float64
 26   Operating Profit Growth Rate                             5807 non-null   float64
 27   After-tax Net Profit Growth Rate                         5807 non-null   float64
 28   Regular Net Profit Growth Rate                           5807 non-null   float64
 29   Continuous Net Profit Growth Rate                        5807 non-null   float64
 30   Total Asset Growth Rate                                  5807 non-null   float64
 31   Net Value Growth Rate                                    5807 non-null   float64
 32   Total Asset Return Growth Rate Ratio                     5807 non-null   float64
 33   Cash Reinvestment %                                      5807 non-null   float64
 34   Current Ratio                                            5807 non-null   float64
 35   Quick Ratio                                              5807 non-null   float64
 36   Interest Expense Ratio                                   5807 non-null   float64
 37   Total debt/Total net worth                               5807 non-null   float64
 38   Debt ratio %                                             5807 non-null   float64
 39   Net worth/Assets                                         5807 non-null   float64
 40   Long-term fund suitability ratio (A)                     5807 non-null   float64
 41   Borrowing dependency                                     5807 non-null   float64
 42   Contingent liabilities/Net worth                         5807 non-null   float64
 43   Operating profit/Paid-in capital                         5807 non-null   float64
 44   Net profit before tax/Paid-in capital                    5807 non-null   float64
 45   Inventory and accounts receivable/Net value              5807 non-null   float64
 46   Total Asset Turnover                                     5807 non-null   float64
 47   Accounts Receivable Turnover                             5807 non-null   float64
 48   Average Collection Days                                  5807 non-null   float64
 49   Inventory Turnover Rate (times)                          5807 non-null   float64
 50   Fixed Assets Turnover Frequency                          5807 non-null   float64
 51   Net Worth Turnover Rate (times)                          5807 non-null   float64
 52   Revenue per person                                       5807 non-null   float64
 53   Operating profit per person                              5807 non-null   float64
 54   Allocation rate per person                               5807 non-null   float64
 55   Working Capital to Total Assets                          5807 non-null   float64
 56   Quick Assets/Total Assets                                5807 non-null   float64
 57   Current Assets/Total Assets                              5807 non-null   float64
 58   Cash/Total Assets                                        5807 non-null   float64
 59   Quick Assets/Current Liability                           5807 non-null   float64
 60   Cash/Current Liability                                   5807 non-null   float64
 61   Current Liability to Assets                              5807 non-null   float64
 62   Operating Funds to Liability                             5807 non-null   float64
 63   Inventory/Working Capital                                5807 non-null   float64
 64   Inventory/Current Liability                              5807 non-null   float64
 65   Current Liabilities/Liability                            5807 non-null   float64
 66   Working Capital/Equity                                   5807 non-null   float64
 67   Current Liabilities/Equity                               5807 non-null   float64
 68   Long-term Liability to Current Assets                    5807 non-null   float64
 69   Retained Earnings to Total Assets                        5807 non-null   float64
 70   Total income/Total expense                               5807 non-null   float64
 71   Total expense/Assets                                     5807 non-null   float64
 72   Current Asset Turnover Rate                              5807 non-null   float64
 73   Quick Asset Turnover Rate                                5807 non-null   float64
 74   Working capitcal Turnover Rate                           5807 non-null   float64
 75   Cash Turnover Rate                                       5807 non-null   float64
 76   Cash Flow to Sales                                       5807 non-null   float64
 77   Fixed Assets to Assets                                   5807 non-null   float64
 78   Current Liability to Liability                           5807 non-null   float64
 79   Current Liability to Equity                              5807 non-null   float64
 80   Equity to Long-term Liability                            5807 non-null   float64
 81   Cash Flow to Total Assets                                5807 non-null   float64
 82   Cash Flow to Liability                                   5807 non-null   float64
 83   CFO to Assets                                            5807 non-null   float64
 84   Cash Flow to Equity                                      5807 non-null   float64
 85   Current Liability to Current Assets                      5807 non-null   float64
 86   Liability-Assets Flag                                    5807 non-null   int64
 87   Net Income to Total Assets                               5807 non-null   float64
 88   Total assets to GNP price                                5807 non-null   float64
 89   No-credit Interval                                       5807 non-null   float64
 90   Gross Profit to Sales                                    5807 non-null   float64
 91   Net Income to Stockholder's Equity                       5807 non-null   float64
 92   Liability to Equity                                      5807 non-null   float64
 93   Degree of Financial Leverage (DFL)                       5807 non-null   float64
 94   Interest Coverage Ratio (Interest expense to EBIT)       5807 non-null   float64
 95   Net Income Flag                                          5807 non-null   int64
 96   Equity to Liability                                      5807 non-null   float64
dtypes: float64(93), int64(4)
memory usage: 4.3 MB

In [4]:
print(df.describe())

             Index    Bankrupt?  \
count  5807.000000  5807.000000
mean   2903.000000     0.034097
std    1676.480838     0.181493
min       0.000000     0.000000
25%    1451.500000     0.000000
50%    2903.000000     0.000000
75%    4354.500000     0.000000
max    5806.000000     1.000000

        ROA(C) before interest and depreciation before interest  \
count                                        5807.000000
mean                                            0.505416
std                                             0.060808
min                                             0.000000
25%                                             0.476673
50%                                             0.503096
75%                                             0.535417
max                                             1.000000

        ROA(A) before interest and % after tax  \
count                              5807.000000
mean                                  0.558893
std                                   0.065650
min                                   0.000000
25%                                   0.535679
50%                                   0.559911
75%                                   0.589212
max                                   1.000000

        ROA(B) before interest and depreciation after tax  \
count                                        5807.000000
mean                                            0.553852
std                                             0.061613
min                                             0.000000
25%                                             0.527437
50%                                             0.552492
75%                                             0.583998
max                                             1.000000

        Operating Gross Margin   Realized Sales Gross Margin  \
count              5807.000000                   5807.000000
mean                  0.607958                      0.607938
std                   0.017499                      0.017480
min                   0.000000                      0.000000
25%                   0.600448                      0.600427
50%                   0.605969                      0.605933
75%                   0.613856                      0.613730
max                   1.000000                      1.000000

        Operating Profit Rate   Pre-tax net Interest Rate  \
count             5807.000000                 5807.000000
mean                 0.998726                    0.797192
std                  0.014087                    0.013731
min                  0.000000                    0.000000
25%                  0.998969                    0.797386
50%                  0.999022                    0.797464
75%                  0.999094                    0.797579
max                  1.000000                    1.000000

        After-tax net Interest Rate  ...   Net Income to Total Assets  \
count                   5807.000000  ...                  5807.000000
mean                       0.809081  ...                     0.807956
std                        0.014553  ...                     0.039062
min                        0.000000  ...                     0.224792
25%                        0.809312  ...                     0.796843
50%                        0.809376  ...                     0.810710
75%                        0.809469  ...                     0.826544
max                        1.000000  ...                     1.000000

        Total assets to GNP price   No-credit Interval  \
count                5.807000e+03          5807.000000
mean                 1.803513e+07             0.624030
std                  3.706013e+08             0.009625
min                  1.015560e-04             0.419045
25%                  9.038045e-04             0.623634
50%                  2.108343e-03             0.623879
75%                  5.328774e-03             0.624169
max                  9.820000e+09             1.000000

        Gross Profit to Sales   Net Income to Stockholder's Equity  \
count             5807.000000                          5807.000000
mean                 0.607956                             0.840407
std                  0.017499                             0.015447
min                  0.000000                             0.000000
25%                  0.600448                             0.840121
50%                  0.605967                             0.841176
75%                  0.613857                             0.842352
max                  1.000000                             1.000000

        Liability to Equity   Degree of Financial Leverage (DFL)  \
count           5807.000000                          5807.000000
mean               0.280324                             0.027446
std                0.014511                             0.011134
min                0.000000                             0.000000
25%                0.276916                             0.026791
50%                0.278801                             0.026808
75%                0.281487                             0.026914
max                1.000000                             0.540672

        Interest Coverage Ratio (Interest expense to EBIT)   Net Income Flag  \
count                                        5807.000000              5807.0
mean                                            0.565267                 1.0
std                                             0.011678                 0.0
min                                             0.000000                 1.0
25%                                             0.565158                 1.0
50%                                             0.565253                 1.0
75%                                             0.565729                 1.0
max                                             0.736985                 1.0

        Equity to Liability
count           5807.000000
mean               0.047736
std                0.049046
min                0.000000
25%                0.024395
50%                0.033687
75%                0.053393
max                0.920638

[8 rows x 97 columns]

In [5]:
print(df.shape)
print(df["Bankrupt?"].value_counts())

(5807, 97)
Bankrupt?
0    5609
1     198
Name: count, dtype: int64

In [6]:
# Target and ID
y = df["Bankrupt?"]
index_col = df["Index"]

# Drop ID and target for feature processing
X = df.drop(columns=["Index", "Bankrupt?"])
print(X.shape, y.value_counts())

(5807, 95) Bankrupt?
0    5609
1     198
Name: count, dtype: int64

In [7]:
var_thresh = VarianceThreshold(threshold=1e-5)
X_var = var_thresh.fit_transform(X)

# Keep track of which columns survived
selected_cols_step1 = X.columns[var_thresh.get_support()]
print("After variance filter:", X_var.shape)

After variance filter: (5807, 94)

In [8]:
X_var_df = pd.DataFrame(X_var, columns=selected_cols_step1)

rf = RandomForestClassifier(
    n_estimators=200,
    random_state=RANDOM_STATE,
    n_jobs=-1,
    class_weight="balanced_subsample"
)

rf.fit(X_var_df, y)

# Get importances and pick top k
importances = pd.Series(rf.feature_importances_, index=X_var_df.columns)
importances = importances.sort_values(ascending=False)

TOP_K = 40  # you can adjust between 30–40
top_features = importances.head(TOP_K).index.tolist()
print("Top features:", len(top_features))

Top features: 40

In [9]:
X_reduced = X_var_df[top_features].copy()
print("Reduced feature matrix:", X_reduced.shape)

Reduced feature matrix: (5807, 40)

In [10]:
# Save the feature names somewhere persistent
joblib.dump(top_features, "top_features_for_clustering.joblib")

# Define a function-like transformer using a Pipeline
preprocess_for_clustering = Pipeline(
    steps=[
        ("select_features", 
         # use a lambda via FunctionTransformer or simple column indexing later
         ("passthrough")),  # we'll apply column subsetting manually on dataframes
        ("scaler", StandardScaler())
    ]
)

In [11]:
# Fit scaler only on the selected columns
preprocess_for_clustering.named_steps["scaler"].fit(X_reduced)

# Save the fitted scaler and feature list together
preprocess_object = {
    "feature_names": top_features,
    "scaler": preprocess_for_clustering.named_steps["scaler"]
}

joblib.dump(preprocess_object, "preprocess_for_clustering.joblib")

['preprocess_for_clustering.joblib']

In [12]:
preprocess_obj = joblib.load("preprocess_for_clustering.joblib")
feature_names = preprocess_obj["feature_names"]
scaler = preprocess_obj["scaler"]

def transform_for_clustering(df_raw: pd.DataFrame) -> np.ndarray:
    """
    df_raw: full dataframe including Index and (for train) Bankrupt?
    returns: scaled, reduced feature matrix for clustering / cluster-ID
    """
    # drop target if present
    cols_to_drop = [c for c in ["Bankrupt?"] if c in df_raw.columns]
    X = df_raw.drop(columns=cols_to_drop + ["Index"])
    
    # subset to the 40 selected features
    X_sel = X[feature_names].copy()
    
    # scale
    X_scaled = scaler.transform(X_sel)
    return X_scaled

In [13]:
X_cluster = transform_for_clustering(df)
print("X_cluster shape:", X_cluster.shape)  # expect (5807, 40)

X_cluster shape: (5807, 40)

In [14]:
from sklearn.cluster import KMeans

K = 7  # or 7 if you want more subgroups
kmeans = KMeans(
    n_clusters=K,
    init="k-means++",
    n_init=20,
    random_state=42
)

cluster_labels = kmeans.fit_predict(X_cluster)
df["cluster"] = cluster_labels
df["cluster"].value_counts().sort_index()

cluster
0     728
1     701
2    2059
3       1
4    2313
5       2
6       3
Name: count, dtype: int64

In [15]:
from sklearn.metrics import silhouette_score

sil_score = silhouette_score(X_cluster, cluster_labels)
print("Silhouette score:", sil_score)

Silhouette score: 0.138487318271109

In [16]:
joblib.dump(kmeans, "kmeans_clusters.joblib")

df.to_csv("train_with_clusters.csv", index=False)

for c in range(K):
    df_cluster_c = df[df["cluster"] == c]
    df_cluster_c.to_csv(f"cluster_{c}.csv", index=False)
    print(f"Cluster {c}: {df_cluster_c.shape[0]} rows,",
          f"{df_cluster_c['Bankrupt?'].sum()} bankrupt")

Cluster 0: 728 rows, 132 bankrupt
Cluster 1: 701 rows, 0 bankrupt
Cluster 2: 2059 rows, 6 bankrupt
Cluster 3: 1 rows, 1 bankrupt
Cluster 4: 2313 rows, 56 bankrupt
Cluster 5: 2 rows, 0 bankrupt
Cluster 6: 3 rows, 3 bankrupt